<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>SEBRAE</title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-grid.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="fonts/style.css">

		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="css/slick.css">
		<link rel="stylesheet" type="text/css" href="css/lity.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="mobile.css">	
		
		<script src="js/jquery.min.js" async></script>
		<script src="bootstrap/dist/js/bootstrap.js" async></script>
		<script src="bootstrap/dist/js/bootstrap.bundle.js" async></script>
		<script src="js/efeitos.js" async></script>
		<script src="js/lity.min.js" async></script>
		<script src="js/carousel.js" async></script>
		<script src="js/slick.min.js" async></script>
		<script src="js/isotope.js" async></script>
		
	</head>

	<body>

		<section class="botoes-visualizacao-modal">
			<div class="container">
				<!-- Button trigger modal -->

				<button type="button" class="btn btn-primary" style="margin: 5px;"  data-toggle="modal" data-target="#publico-inicial-modal">
					Publico inicial
				</button>
				<button type="button" class="btn btn-primary" style="margin: 5px;"  data-toggle="modal" data-target="#publico-modal">
					Publico
				</button>
			</div>
		</section>

		
  

		<!-- Modal publico -->
		<div class="modal fade" id="publico-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-body modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<img src="img/icon-fechar-modal.svg" alt="" title="">
					</button>
					<div class="container-fluid">
						<div class="">
							<div class="wq-network-sec">
								
								<div class="wq-perfil-wrapper">
									<div class="wq-ul-content"> 
										<div class="title-type-01">
											<h2><span><img src="img/publico-icon.svg" alt="" title=""></span> Público</h2>
										</div>
										<ul class="nav nav-tabs">
											<li> <a class="tabs-btn active" data-toggle="tab" href="#nav-1">já tenho uma empresa</a></li> 
											<li> <a class="tabs-btn " data-toggle="tab" href="#nav-2">quero abrir minha empresa</a></li> 
											<li> <a class="tabs-btn" data-toggle="tab" href="#nav-3">sou mei</a></li>
										</ul> 
									</div> 
									<div class="tab-content"> 
										<div class="tab-pane active" id="nav-1">
											<div class="wq-content-tab">
												<div class="wq-content-menu">
													<ul class="menu-tabs wq-nav">
														<li data-filter=".cat-todos" class="active">Todos os casos</li>
														<li data-filter=".cat-marketing">Marketing</li>
														<li data-filter=".cat-inovacao">Inovação</li>
														<li data-filter=".cat-financas">Finanças</li>
														<li data-filter=".cat-gestao">Gestão</li>
													</ul>
												</div>
									
												<div class="grid">
													<div  class="grid-item cat-todos cat-inovacao cat-financas ">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-inovacao cat-financas ">
														<a href="https://youtu.be/vOERGAOXnoY" data-lity>
															<div class="wq-publico-box type-video">
																<figure>
																	<img src="img/video-item.jpg" alt="" title="">
																	<figcaption>
																		<span class="wq-tag"><img src="img/tag-icon-video.svg" alt=""></span>
																		<span class="wq-video-player"><img src="img/player-video.svg" alt=""></span>
																	</figcaption>
																</figure>
															</div>
														</a>
													</div>
													<div  class="grid-item cat-todos cat-gestao">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-financas cat-marketing">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-inovacao">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-marketing cat-gestao">
														<a href="https://youtu.be/vOERGAOXnoY" data-lity>
															<div class="wq-publico-box type-video">
																<figure>
																	<img src="img/video-item.jpg" alt="" title="">
																	<figcaption>
																		<span class="wq-tag"><img src="img/tag-icon-video.svg" alt=""></span>
																		<span class="wq-video-player"><img src="img/player-video.svg" alt=""></span>
																	</figcaption>
																</figure>
															</div>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="nav-2">
											<div class="wq-content-tab">
												<div class="wq-content-menu">
													<ul class="menu-tabs wq-nav">
														<li data-filter=".cat-todos" class="active">Todos os casos</li>
														<li data-filter=".cat-marketing">Marketing</li>
														<li data-filter=".cat-inovacao">Inovação</li>
														<li data-filter=".cat-financas">Finanças</li>
														<li data-filter=".cat-gestao">Gestão</li>
													</ul>
												</div>
									
												<div class="grid">
													<div  class="grid-item cat-todos cat-inovacao cat-financas ">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-inovacao cat-financas ">
														<a href="https://youtu.be/vOERGAOXnoY" data-lity>
															<div class="wq-publico-box type-video">
																<figure>
																	<img src="img/video-item.jpg" alt="" title="">
																	<figcaption>
																		<span class="wq-tag"><img src="img/tag-icon-video.svg" alt=""></span>
																		<span class="wq-video-player"><img src="img/player-video.svg" alt=""></span>
																	</figcaption>
																</figure>
															</div>
														</a>
													</div>
													<div  class="grid-item cat-todos cat-gestao">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span>Gestão</span>
																	<h4>CONSTRUÇÃO E CONSTRUÇÃO</h4>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-financas cat-marketing">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-inovacao">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-marketing cat-gestao">
														<a href="https://youtu.be/vOERGAOXnoY" data-lity>
															<div class="wq-publico-box type-video">
																<figure>
																	<img src="img/video-item.jpg" alt="" title="">
																	<figcaption>
																		<span class="wq-tag"><img src="img/tag-icon-video.svg" alt=""></span>
																		<span class="wq-video-player"><img src="img/player-video.svg" alt=""></span>
																	</figcaption>
																</figure>
															</div>
														</a>
													</div>
												</div>
											</div>
										</div> 
										<div class="tab-pane" id="nav-3">
											<div class="wq-content-tab">
												<div class="wq-content-menu">
													<ul class="menu-tabs wq-nav">
														<li data-filter=".cat-todos" class="active">Todos os casos</li>
														<li data-filter=".cat-marketing">Marketing</li>
														<li data-filter=".cat-inovacao">Inovação</li>
														<li data-filter=".cat-financas">Finanças</li>
														<li data-filter=".cat-gestao">Gestão</li>
													</ul>
												</div>
									
												<div class="grid">
													<div  class="grid-item cat-todos cat-inovacao cat-financas ">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-inovacao cat-financas ">
														<a href="https://youtu.be/vOERGAOXnoY" data-lity>
															<div class="wq-publico-box type-video">
																<figure>
																	<img src="img/video-item.jpg" alt="" title="">
																	<figcaption>
																		<span class="wq-tag"><img src="img/tag-icon-video.svg" alt=""></span>
																		<span class="wq-video-player"><img src="img/player-video.svg" alt=""></span>
																	</figcaption>
																</figure>
															</div>
														</a>
													</div>
													<div  class="grid-item cat-todos cat-gestao">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span>Gestão</span>
																	<h4>CONSTRUÇÃO E CONSTRUÇÃO</h4>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-financas cat-marketing">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-inovacao">
														<div class="wq-publico-box">
															<figure>
																<img src="img/video-item.jpg" alt="" title="">
																<figcaption>
																	<span class="wq-tag"><img src="img/documento-tag.svg" alt=""></span>
																	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
																	<div class="wq-btns">
																		<a href="#" class="wq-btn-negativo">Baixa</a>
																		<a href="#" class="wq-btn-positivo">Visualizar</a>
																	</div>
																</figcaption>
															</figure>
														</div>
													</div>
													<div  class="grid-item cat-todos cat-marketing cat-gestao">
														<a href="https://youtu.be/vOERGAOXnoY" data-lity>
															<div class="wq-publico-box type-video">
																<figure>
																	<img src="img/video-item.jpg" alt="" title="">
																	<figcaption>
																		<span class="wq-tag"><img src="img/tag-icon-video.svg" alt=""></span>
																		<span class="wq-video-player"><img src="img/player-video.svg" alt=""></span>
																	</figcaption>
																</figure>
															</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Publico inicial -->
		<div class="modal fade" id="publico-inicial-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-body modal-content wq-centralizado">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<img src="img/icon-fechar-modal.svg" alt="" title="">
					</button>
					<div class="container">
						<div class="wq-wrapper-inicial">
							<div>
								<div class="title-type-01">
									<h2><span><img src="img/publico-icon.svg" alt="" title=""></span> Público</h2>
								</div>
								<a href="" class="tabs-btn">já tenho uma empresa</a>
								<a href="" class="tabs-btn">quero abrir minha empresa</a>
								<a href="" class="tabs-btn">sou mei</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>

<!----col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12----->

