/****Responsivo da página****/
@media screen and (max-width: 992px){
    .modal-body {
        padding: 175px 0 0px;
    }
    .close {
        width: 25px;
        height: 25px;
        right: 5px;
        top: 175px;
    }
    .title-type-01 h2,.wq-arena-wrapper .wq-content-conteudo-networking h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .title-type-01 span img{
        height: 28px;
        margin-right: 10px;
    }
    .wq-desktop{
        display: none!important;
    }
    .wq-mobile{
        display: block!important;
    }
    .wq-coins-recebidos .wq-wrapper {
        grid-template-columns: 1fr;
    }
    .wq-coins-recebidos .wq-card {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .wq-coins-detaque {
        padding-right: 0px;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 30px;
        text-align: left;
    }
    .wq-coins-recebidos {
        height: auto;
    }
    .wq-coins-recebidos .title-type-01 h2{
        justify-content: flex-start;
    }
    .wq-coins-detaque span {
        font-size: 40px;
        line-height: 41px;
    }
    .wq-coins-recebidos .wq-card .produto-box {
        width: 260px;
        box-shadow: 0px 0px 40px #ffc700;
    }
    .wq-marca-logo {
        grid-template-columns: 50px 1fr;
    }
    .wq-filtro {
        justify-content: flex-start;
    }
    .wq-content-faq .wq-content {
        height: auto;
        padding-right: 0;
    }
    .wq-nav li {
        padding-right: 10px;
        margin-right: 10px;
        font-size: 16px!important;
    }
    .tabs-btn {
        line-height: 35px;
        font-size: 10px;
    }
    .wq-arena-wrapper .wq-content-conteudo-networking p,
    .wq-arena-wrapper .title-type-01 p{   
        font-size: 18px;
    }
}
/***** Tamanho para smartphones na vertical *****/
@media screen and (max-width: 576px){
    .title-type-01 {
        grid-template-columns: 1fr;
        row-gap: 14px;
    }
    .title-type-01 .sebrae-coins {
        justify-content: flex-start;
    }
    .sebrae-coins {
        font-size: 14px;
    }
    .sebrae-coins span {
        font-size: 18px;
    }
    .sebrae-coins span img {
        height: 20px;
        margin-right: 10px;
    }
    .wq-content {
        height: calc(100vh - 80px);
        padding-right: 10px;
    }
    .wq-cupons-carousel-responsive .wq-cupon-box{
        margin: 0 8px;
    }
    .wq-coins-recebidos .wq-card .produto-box{
        box-shadow: none;
    }
    .wq-perfil-wrapper{
        grid-template-columns: 1fr;
    }
    .wq-perfil-wrapper.wq-absolute{
        display: none;
    }
    .wq-perfil-wrapper .wq-esq {
        padding-right: 0px;
    }
    .wq-favoritos-sec {
        padding: 30px 0 30px;
    }
    .wq-content.wq-dir{
        height: auto!important;
    }
    .wq-filtro {
        justify-content: flex-start;
    }
    .wq-content-conteudo .wq-wrapper {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
    .wq-content-conteudo p {
        font-size: 16px;
    }
    .wq-network-sec .wq-wrapper {
        grid-template-columns: 1fr;
    }
    .wq-content-tab form {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .wq-convite {
        padding: 15px;
    }
    .wq-convite h2 {
        font-size: 28px;
    }
    .wq-convite h3 {
        font-size: 15px;
        margin-bottom: -5px;
    }
    .wq-convite hr {
        margin: 25px 0;
    }
    .wq-informacoes-content .wq-conteudo {
        padding: 25px;
    }
    .wq-informacoes-content.wq-buscar-empresas .wq-conteudo{
        padding:0;
    }
    .wq-informacoes-content.wq-buscar-empresas .wq-conteudo-02 ul li {
        justify-content: center;
        align-items: flex-start;
        padding: 14px;
        flex-direction: column;
    }
    .wq-informacoes-content.wq-buscar-empresas .wq-conteudo-02 ul li a {
        margin-top: 10px!important;
    }
    .grid-item {
        width: 99%;
        margin: 10px 0;
    }
    .menu-tabs.wq-nav {
        flex-wrap: wrap;
    }
    .menu-tabs.wq-nav li{
        margin: 3px 5px;
    }
    .wq-publico-box figure figcaption h4 {
        font-size: 19px;
    }
    .wq-publico-box .wq-btn-positivo,
    .wq-publico-box .wq-btn-negativo{
        padding: 8px 15px;
    }
    .wq-arena-wrapper {
        grid-template-columns: 1fr;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens{
        grid-template-columns: 1fr;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens .wq-btn-01{
        width: auto;
    }
}
/***** Tamanho para smartphones na horizontal *****/
@media screen and (max-width: 768px) and (min-width: 577px) {
    .wq-content {
        height: calc(100vh - 80px);
        padding-right: 10px;
    }
    .produto-box{
        margin: 0 5px;
    }
    .wq-cupons-carousel-responsive .wq-cupon-box{
        margin: 0 8px;
    }
    .wq-coins-recebidos .wq-wrapper {
        grid-template-columns: 1fr 2fr;
    }
    .wq-coins-recebidos .wq-card {
        padding: 40px;
    }
    .wq-perfil-wrapper{
        grid-template-columns: 1fr;
    }
    .wq-perfil-wrapper.wq-absolute{
        display: none;
    }
    .wq-perfil-wrapper .wq-esq {
        padding-right: 0px;
    }
    .wq-favoritos-sec {
        padding: 30px 0 30px;
    }
    .wq-content.wq-dir{
        height: auto!important;
    }
    .title-type-01 {
        grid-template-columns: 1fr;
    }
    .wq-filtro {
        justify-content: flex-start;
    }
    .tabs-btn {
        font-size: 10px;
    }
    .wq-content-tab form {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .wq-content-tab .wq-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .wq-convite {
        padding: 15px;
    }
    .wq-convite h2 {
        font-size: 28px;
    }
    .wq-convite h3 {
        font-size: 15px;
        margin-bottom: -5px;
    }
    .wq-convite hr {
        margin: 25px 0;
    }
    .grid-item {
        width: 47%;
        margin: 10px 1%;
    }

    .wq-content-conteudo-networking .wq-wrapper-03-itens{
        grid-template-columns: 1fr;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens .wq-btn-01{
        width: auto;
    }
}
/***** Tamanho para tablets na vertical *****/
@media screen and (max-width: 1099px) and (min-width: 769px) {
    .modal-body {
        padding: 175px 0 0px;
    }
    .wq-content {
        height: auto;
        padding-right: 0px;
    }
    .close {
        width: 25px;
        height: 25px;
        right: 5px;
        top: 140px;
    }
    .produto-box{
        margin: 0 5px;
    }
    .wq-wrapper-04-itens {
        column-gap: 10px;
        row-gap: 15px;
    }
    .wq-cupons-carousel-responsive .wq-cupon-box{
        margin: 0 8px;
    }
    .wq-coins-recebidos .wq-wrapper {
        grid-template-columns: 1fr 2fr;
    }
    .wq-coins-recebidos .wq-card {
        padding: 40px;
    }
    .wq-coins-recebidos {
        height: auto;
    }
    .wq-nav li a {
        font-size: 15px;
    }
    .wq-perfil-wrapper .wq-esq {
        padding-right: 0;
    }
    .wq-favoritos-item h3 {
        font-size: 18px;
    }
    .wq-marca-logo h2 {
        font-size: 20px;
    }
    .wq-edit-perfil h2 {
        font-size: 35px;
    }
    .wq-marca-logo a {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .wq-contatos {
        margin-top: 30px;
    }
    .wq-contato-item h3 {
        font-size: 15px;
    }
    .wq-dados-marca {
        padding-top: 20px;
        margin-top: 20px;
    }
    .wq-perfil-wrapper.wq-absolute{
        display: none;
    }
    .wq-favoritos-sec {
        padding: 30px 0 30px;
    }
    .title-type-01 {
        grid-template-columns: 1fr;
    }
    .wq-filtro {
        justify-content: flex-start;
    }
    .wq-content-faq .wq-content {
        height: auto;
        padding-right: 0;
    }
    .grid-item {
        width: 47%;
        margin: 10px 1%;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens{
        grid-template-columns: 1fr 1fr;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens .wq-btn-01{
        width: auto;
    }
}
/***** Tamanho para tablets na horizontal *****/
@media screen and (max-width: 1200px) and (min-width: 1100px) {
    .modal-body {
        padding: 175px 0 0px;
    }
    .wq-content {
        height: calc(100vh - 120px);
        padding-right: 10px;
    }
    .close {
        width: 25px;
        height: 25px;
        right: 5px;
        top: 140px;
    }
    .wq-wrapper-04-itens {
        column-gap: 10px;
        row-gap: 15px;
    }
    .wq-coins-recebidos {
        height: auto;
    }
    .wq-nav li a {
        font-size: 15px;
    }
    .wq-perfil-wrapper .wq-esq {
        padding-right: 0;
    }
    .wq-favoritos-item h3 {
        font-size: 18px;
    }
    .wq-marca-logo h2 {
        font-size: 20px;
    }
    .wq-edit-perfil h2 {
        font-size: 35px;
    }
    .wq-marca-logo a {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .wq-contatos {
        margin-top: 30px;
    }
    .wq-contato-item h3 {
        font-size: 15px;
    }
    .wq-dados-marca {
        padding-top: 20px;
        margin-top: 20px;
    }
    .wq-content.wq-dir{
        height: auto!important;
    }
    .title-type-01 {
        grid-template-columns: 1fr;
    }
    .wq-filtro {
        justify-content: flex-start;
    }
    .wq-content-faq .wq-content {
        height: auto;
        padding-right: 0;
    }
    .grid-item {
        width: 47%;
        margin: 10px 1%;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens{
        grid-template-columns: 1fr 1fr;
    }
    .wq-content-conteudo-networking .wq-wrapper-03-itens .wq-btn-01{
        width: auto;
    }
}
/***** Monitores pequenos  *****/
@media screen and (max-width: 1299px) and (min-width: 992px) {
    
}
/***** Monitores medios  *****/
@media screen and (max-width: 1499px) and (min-width: 1300px) {

}
/***** Monitores extra grandes  *****/
@media screen and (max-width: 1699px) and (min-width: 1500px) {
}
/***** Monitores extra grandes  *****/
@media screen and (max-width: 2500px) and (min-width: 1920px) {
}
@media screen and (max-width: 3000px) and (min-width: 2500px) {
}
/****Responsivo da página****/
